
<div class="container">
    <div class="row">
        <a href="/admin/add-product" class="btn btn-primary" style="margin-left:auto">Add Product</a>     <!--ithh user click cheyunnatha so /admin  --> 
    </div>
    
<table class="table">
  <thead>                          <!-- ithil routerill nin products varunonu --> 
    <tr>

      <th scope="col">name</th>
      <th scope="col">category</th>
      <th scope="col">descrpition</th>
      <th scope="col">image</th>                
      <!-- !ithh admin router te kayill nin varune (SAME LIKE USER CONNECTION WITH INDEX) --> 
    </tr>
  </thead>
  <tbody>
    <tr>
        {{#each products}}
      <th scope="row">{{this.productName}}</th>
      <td>{{this.productCategory}}</td>
      <td>{{this.productDescription}}</td>
      <td><img style="width:50px;height:50px;" src="/product-images/{{this._id}}.jpg"></td>
      <td>
        <a href="/admin/edit-product?id={{this._id}}" class="btn btn-primary">Edit</a>
        <a href="/admin/delete-product?id={{this._id}}&name=sonu" class="btn btn-danger" onclick="return confirm('are you want to delete the preoduct {{this.productName}} ?')">Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>